body {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #e0e0e0;
  margin: 0;
}

h1 {
  margin: 0;
  padding-left: 20px;
  font-size: 50px;
  color: white;
}

input {
  font-family: inherit;
  height: 30px;
}

.portal {
  align-items: center;
  background-color: whitesmoke;
  width: 600px;
  height: 500px;
  margin: auto;
  margin-top: 150px;
  border: solid 2px;
  border-color: #256d85;
  border-radius: 15px;
}

.button-portal {
  display: block;
  margin: auto;
  color: none;
  width: 158px;
  height: 30px;
  margin-top: 30px;
}

.header {
  background-color: #256d85;
  height: 50px;
  text-align: left;
  padding: 15px;
  display: flex;
}

.img-header {
  margin: 0;
}

.portal-content {
  display: block;
  height: 500px;
  padding-left: 100px;
  padding-right: 100px;
}

.input-password {
  display: block;
  margin: auto;
  color: none;
}

.input-email {
  display: block;
  margin: auto;
  color: none;
}

.h1-login {
  color: #256d85;
}

.bottom-container {
  background-color: #1a2b3d;
  padding: 50px 0 20px;
}
